.transition(@all: all .4s ease) {
    -webkit-transition: @all;
    -moz-transition: @all;
    -o-transition: @all;
    transition: @all;
}

.text(@font_family, @size, @color, @weight) {
    font-size: @size;
    font-family: @font_family;
    color: @color;
    font-weight: @weight;
}

.bg(@bgsize, @repeat, @postion) {
    background-size: @bgsize;
    background-repeat: @repeat;
    background-position: @position;
}

.clearfix {
    
    &::after {
        content:"";
        display:block;
        clear:both;
    }
}

html, body {
    background-color: #f9f9f9;
    .text('Open Sans', 100%, black, normal);
}

.logos {
    text-align: center;
    margin: 50px 0;
    width: 100%;
    
    .title_after_logo {
        .text('Open Sans', 1em, black, normal);
    }

}

input[type='text'], input[type='password'] {
    .text('Open Sans', 1em, black, normal);
    width: 100%;
    padding: 10px;
    border: 1px solid #d9d9d9;
    position: relative;
    outline: none;
    margin: 10px 0;
}

.in-input {
    position: relative;

    .forget {
        text-decoration: underline;
        .transition();
        .text('Open Sans', 0.8em, #b7b7b7, normal);
        position: absolute;
        top: 22px;
        right: 16px;

        &:hover {
            text-decoration: none;
        }
    }
}

.form-notif {
    h4 {
        .text('Open Sans', 1.2em, black, normal);
    }
    text-align: center;
    margin: 17px 0;
}

.auth-form, .forget-form , .default-form {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 40px; 
}

.default-form {
    margin: 15px 0;
}

.def-title {
    .text('Open Sans', 1.1em, black, bold);
}

.btn {
    border:none;
    background-color: #8076b1;
    .transition();
    text-shadow: none;
    .text('Open Sans', 1em, white, normal);
    border-radius: 0;
    padding: 10px;
    outline: none;

    &.btn-auth {
        width: 100%;
        margin: 10px 0;
    }

     &.btn-reg {
        width: 100%;
        margin: 10px 0;
        padding: 20px;
    }

    &.btn-access {
        margin: 10px 0;
        padding: 10px 30px;
    }

    &:hover {
        background-color: #5e5299;
        color: white;
    }

    &:active {
        background-color: #5e5299;
        color: white;
        outline: none;
    }
}

.block-with-single-link {
     margin-top: 30px;
     text-align: center;

     a {
        .text('Open Sans', 1em, #8076b1, normal);
        .transition();

        &:hover {
            color: #5e5299;
        }
     }

}

header {
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
}

.logo-header {
    margin: 22px 0;
    display: inline-block;
}

.title_right_logo {
    display: inline-block;
    .text('Open Sans', 1em, black, normal);
}

.right-side {

    .nav-block {
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        height: 100%;
        padding: 32px 10px;
        min-width: 118px;
        float: right;
        color: #000;
        cursor: pointer;
        position: relative;
        .transition();

        .menu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: #fff;
            list-style-type: none;
            padding-left: 0;
            display: none;
            padding: 10px;
            z-index: 500;
            box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.09);

            li {
                margin: 5px 0;

                a {
                   .text('Open Sans', 1em, #666666, normal); 
                   .transition();

                   &:hover {
                        color: black;
                        text-decoration: none;
                   }
                }
            }
        }

        &.active {
            background-color: #8076b1;
        }

        &.active #yourName{
            color:white;
        }

        &:hover {
            background-color: #8076b1;

            .menu {
                display: block;
            }
        }

        &:hover #yourName {
            color:white;
        }
    }

    .treug {
        width: 20px;
        height: 5px;
        background-image: url(../img/treg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
    }

    #yourName {
        display: inline-block;
        .text('Open Sans', 1em, black, normal);
    }
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  display: block;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  background: #ededed;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
     top: .25em;
    left: .3em;
    font-size: 1em;
  line-height: 0.8;
  color: #fff;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:before {
  background-color: #9cdb76;
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}


/* hover style just for information */
label:hover:before {
  // border: 2px solid #4778d9!important;
}

.my-courses {
    padding-bottom: 30px;
}

.my-courses .course-item {
    display: block;
    background-color: #fff;
    padding: 15px 0;
    margin: 10px 0;
    cursor: pointer;
    .text('Open Sans', 1em, black, normal); 
    .transition();

    &.mini {
        img {
            width: 96px;
            height: 96px;
        }
        
        .right-side-item {
            margin: 25px auto;
            text-align: right;
        }

        .status {
            padding: 10px;
            background-color: #f0f0f0;
            
            span {
                text-transform: uppercase;
            }

            .access {
                color: #7ac750;
            }

            .new {
                color: #26a5e7;
            }

            .lock {
                color: #aebed4;
            }
        }
    }

    img {
        margin-right: 10px;
        width: 126px;
        height: 120px;
        object-fit: cover;
    }

    .right-side-item {
        margin: 35px auto;
        width: fit-content;
    }

    &:hover {
        box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.09);
    }
}

.loader {
    width: 100%;
    height: 2px;
    position: fixed;
    z-index: 1500;
    top: 0;

    .line {
        .transition(all .8s ease);
        width: 0%;
        height: 100%;
        background-color: #8076b1;
    }
}

.project-process {
    width: 50%;
    height: 8px;
    border-radius: 4px;
    background-color: #f0f0f0;

    .line {
        .transition();
        width: 0;
        height: 100%;
        border-radius: 4px;
        background-color: #8076b1;
    }
}

.chat-users {
    height: 790px;
    overflow-y: auto;
    font-size: 0.7em;
}

.chat-users-lessons {
    height: 790px;
    overflow-y: auto;
    font-size: 0.7em;
}

.chatik {
    background-color: #fff;
    margin: 10px 0;
    .text('Open Sans', 0.85em, black, normal); 
    
    .message-wrapp {
        height: 600px;
        overflow-y: auto;
    }

    .message-from, .message-to {
        margin: 10px 0;

        .message-text {
            padding: 10px;
            margin: 10px 0;
            position: relative;

            &-from {
                background-color: #f6f8fa;
                word-wrap: break-word;
                &::after {
                    content: '';
                    position: absolute;
                    top: -20px;
                    right: 19px;
                    border: 10px solid transparent; 
                    border-bottom: 10px solid #f6f8fa;
                }
            }

            &-to {
                background-color: #f7f7f7;
                word-wrap: break-word;

                &::after {
                    content: '';
                    position: absolute;
                    top: -20px;
                    left: 19px;
                    border: 10px solid transparent; 
                    border-bottom: 10px solid #f7f7f7;
                }
            }
        }

        .date {
            .text('Open Sans', 1em, #adadad, normal); 
        }
    }

    .message-from {
        
        .name_from {
            text-align: right;
            display: block;
        }

    }

    .message-to {
        .date {
            text-align: right;
            display: block;
        }
    }
}

.npl {
    padding-left: 0 !important;
}

.npr {
    padding-right: 0 !important;
}

.textTo {
    width: 100%;
    resize:none;
    height: 130px;
    outline: none;
    padding: 10px; 
}

.lesson-area {
    background-color: #fff;

    .top-area {
        margin:10px;
        border-bottom: 1px solid #dcdcdc;
    }
}

.report-area {
    background-color: #fff;
    padding: 15px 0;
    margin: 15px 0;
}

.right-side-item-g {
    text-align: right;
}

.number-of-lesson {
    padding: 15px 21px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.top-area {
    padding: 15px 0; 
}

.title-of-lesson {
    margin-top: 10px;
}

.video-less {
    width: 100%;
    height: 500px;
    background-color: black;
}

.content {
    margin: 10px 0;
}

.icon-report {
    position: relative;
    border-radius: 50%;
    background-color: #f0f0f0;
        padding: 7px 5px 11px 9px;
    margin-right: 10px;
}


#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

.btn-toolbar {
    margin-top: 50px;
}

.redactor_box {
    margin-top: 40px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    border:1px solid black;
    background-color: white;
    .transition();
    margin: 15px 0;
    text-shadow: none;
    .text('Open Sans', 1em, black, normal);
    border-radius: 0;
    padding: 15px 20px;
    outline: none;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: black;
    color: white;
}

.files {
    padding: 5px;
    margin-bottom: 15px;
    
    .close {
        float: none;
        color: red;
    }

    .file-del {
        color: red;
        cursor: pointer;
        margin-left: 25px;
    }

    .file {
        padding: 15px 0;
        border-bottom: 1px solid #dcdcdc;
    }

    div {
        margin-top: 25px;
    }
}

.btn.fly {
    position: fixed;
    left: 0;
    top: 400px;
    z-index: 1000;
    font-size:0.8em;
}

.btn.fly-save {
    position: fixed;
    left: 0;
    top: 480px;
    z-index: 1000;
    font-size:0.8em;
}