.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
html,
body {
  background-color: #f9f9f9;
  font-size: 100%;
  font-family: 'Open Sans';
  color: black;
  font-weight: normal;
}
.logos {
  text-align: center;
  margin: 50px 0;
  width: 100%;
}
.logos .title_after_logo {
  font-size: 1em;
  font-family: 'Open Sans';
  color: black;
  font-weight: normal;
}
input[type='text'],
input[type='password'] {
  font-size: 1em;
  font-family: 'Open Sans';
  color: black;
  font-weight: normal;
  width: 100%;
  padding: 18px 17px;
  border: 1px solid #d9d9d9;
  position: relative;
  outline: none;
  margin: 10px 0;
}
.in-input {
  position: relative;
}
.in-input .forget {
  text-decoration: underline;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 0.8em;
  font-family: 'Open Sans';
  color: #b7b7b7;
  font-weight: normal;
  position: absolute;
  top: 30px;
  right: 16px;
}
.in-input .forget:hover {
  text-decoration: none;
}
.form-notif {
  text-align: center;
  margin: 17px 0;
}
.form-notif h4 {
  font-size: 1.2em;
  font-family: 'Open Sans';
  color: black;
  font-weight: normal;
}
.auth-form,
.forget-form,
.default-form {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 40px;
}
.default-form {
  margin: 15px 0;
}
.def-title {
  font-size: 1.4em;
  font-family: 'Open Sans';
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}
.btn {
  border: none;
  position: relative;
  /*background-color: #8076b1;*/
  background: #036f3d; /* Old browsers */
  background: -webkit-linear-gradient(bottom, #036f3d 0%, #80c045 100%);
  background: -o-linear-gradient(bottom, #036f3d 0%, #80c045 100%);
  background: linear-gradient(to top, #036f3d 0%, #80c045 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-shadow: none;
  font-size: 1em;
  font-family: 'Open Sans';
  color: white;
  font-weight: normal;
  border-radius: 0;
  padding: 10px;
  outline: none;
  z-index: 100;
}
.btn.red {
  background: #036f3d; /* Old browsers */
  background: -webkit-linear-gradient(bottom, red 0%, #80c045 100%);
  background: -o-linear-gradient(bottom, red 0%, #80c045 100%);
  background: linear-gradient(to top, red 0%, #80c045 100%);
}
.btn.red:hover {
  background: -webkit-linear-gradient(bottom, #80c045 0%, red 100%);
  background: -o-linear-gradient(bottom, #80c045 0%, red  100%);
  background: linear-gradient(to top, #80c045 0%, red 100%);
}
.btn::before{
  border-radius: inherit;
  background-image: linear-gradient(#036f3d, #80c045);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  opacity: 0;
  width: 100%;
  z-index: -100;
  transition: opacity 0.45s;
}
.btn.modalB {
  margin: 15px auto;
  padding: 13px 50px;
  background: #8076b1;
}
.btn.modalB:hover {
  background: #6356a1;
}
.btn.modalB.rassrochka {
  margin: 8px auto;
  padding: 14px 21px;
  background: #8076b1;
  display: block;
}
.btn.modalB:hover::before {
  opacity: 0;
}
.btn.btn-auth {
  width: 100%;
  margin: 10px 0;
  padding: 18px;
}
.btn.samost {
  margin: 7px auto;
  padding: 28px 104px;
  display: block;
}

.btn.btn-chat {
  width: 100%;
  margin: 10px 0;
  padding: 18px;
  background: #8076b1;
}
.btn.btn-chat:hover {
  background: #6356a1;
}
.btn.btn-reg {
  width: 100%;
  margin: 10px 0;
  padding: 20px;
}
.btn.btn-access {
  margin: 20px 0;
  outline: none;
  padding: 15px 70px;
}
.btn.btn-access:hover::before {
  opacity: 1;
}
.btn.btn-send-hm {
  margin: 27px 0;
  padding: 15px 50px;
  background: #8076b1;
}
.btn.btn-send-hm:hover {
  background: #6356a1;
}
.btn.btn-send-hm:hover::before {
  opacity: 0;
}
.block-hw {
  padding: 0 52px;
}
.block-hm-prov {
  padding: 16px 53px;
  font-size: 0.9em;
  position: relative;
  z-index: 80;
}
label {
  margin: 20px 0;
}
.btn:hover {
  color:white;
}
.btn:hover::before{
  opacity: 1;
}
.btn:active {
  background-color: #5e5299;
  color: white;
  outline: none;
}

.block-with-single-link {
  margin-top: 30px;
  text-align: center;
}
.block-with-single-link a {
  font-size: 1em;
  font-family: 'Open Sans';
  color: #d9ac7b;
  font-weight: normal;
  text-decoration: underline;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.block-with-single-link a:hover {
  color: #cc9b66;
  text-decoration: none;
}
header {
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.logo-header {
  margin: 22px 0;
  display: inline-block;
}
.title_right_logo {
  display: inline-block;
  font-size: 1em;
  font-family: 'Open Sans';
  color: black;
  font-weight: normal;
}
.right-side .nav-block {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  height: 100%;
  padding: 34.4px 10px;
  min-width: 118px;
  float: right;
  color: #000;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.right-side .nav-block.hide-border{
  border-right: none;
  border-left: none;
  padding: 15.4px 10px;
}

.right-side .nav-block.hide-border .treug {
  display: none;
}

.right-side .nav-block.your-score {
  border-left: 1px solid #e0e0e0;
  border-right: none;
  height: 100%;
  padding: 33px 10px;
  min-width: 118px;
  float: right;
  color: #000;
  cursor: default;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.your-score-img {
  margin: 0 10px;
}
.right-side .nav-block.your-score span {
  font-size: 1.1em;
  font-weight: bold;
  vertical-align: middle;
}
.right-side .nav-block .menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  list-style-type: none;
  padding-left: 0;
  display: none;
  padding: 10px;
  z-index: 500;
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.09);
}
.right-side .nav-block .menu li {
  margin: 5px 0;
}
.right-side .nav-block .menu li a {
  font-size: 1em;
  font-family: 'Open Sans';
  color: #666666;
  font-weight: normal;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.right-side .nav-block .menu li a:hover {
  color: #e6be90;
  text-decoration: none;
}
.right-side .nav-block.active {
  background-color: #8076b1;
}
.right-side .nav-block.active #yourName {
  /*color: white;*/
}
.right-side .nav-block:hover {
  /*background-color: #8076b1;*/
}
.right-side .nav-block:hover .menu {
  display: block;
}
.right-side .nav-block:hover #yourName {
  /*color: white;*/
}
.right-side .treug {
  width: 20px;
  height: 5px;
  background-image: url(../img/treg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.right-side #yourName {
  display: inline-block;
  font-size: 1em;
  font-family: 'Open Sans';
  color: black;
  font-weight: normal;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  display: block;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  background: #ededed;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  background-image: url(../img/check.png);
  width: 1.25em;
  height: 1.25em;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  line-height: 0.8;
  color: #fff;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:before {
  background-color: #9cdb76;
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* hover style just for information */
.my-courses {
  padding-bottom: 30px;
}
.my-courses .course-item {
  display: block;
  background-color: #fff;
  padding: 15px 0;
  margin: 10px 0;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Open Sans';
  color: black;
  font-weight: normal;
  background-image: url(../img/cource-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.courceTitle {
  font-size: 1.2em;
}
.my-courses .course-item.mini img {
  width: 96px;
  height: 96px;
}
.my-courses .course-item.mini .right-side-item {
  margin: 25px auto;
  text-align: right;
}
.my-courses .course-item.mini {
  background-image: none;
}
.status {
  padding: 10px 25px;
  background-color: #f0f0f0;
  border-radius: 30px;
}
.status.st-access {
  background-color: #63a7b3;
}
.status.st-access .access{
  color: white;
}
.status.st-new .new{
  color: white;
}
.status.st-new {
  background-color: #8076b1;
}
.status span {
  text-transform: uppercase;
}
.status .access {
  color: #7ac750;
}
.status .new {
  color: #26a5e7;
}
.status .lock {
  color: #aebed4;
}
.status .fail {
  color: red;
}
#timeBack {
  color: #e8c399;
  font-size: 1.15em;
}
#timeBack-l {
  color: black;
  font-size: 1.15em;
}
.tac {
  text-align: center;
}
.my-courses .course-item img {
  width: 20%;
  height: 133px;
  margin: 0 auto;
  object-fit: cover;
}
.my-courses .course-item .right-side-item {
  margin: 35px auto;
  text-align: center;
  width: fit-content;
}
.my-courses .course-item .right-side-item b {
  font-weight: bold;
  font-size: 19px;
}
.cource-item-title {
  color: #a95a1b;
  font-size: 1.3em;
  padding: 13px 0;
  display: block;
}
.my-courses .course-item:hover {
  box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.09);
}
.loader {
  width: 100%;
  height: 2px;
  position: fixed;
  z-index: 1500;
  top: 0;
}
.lesson-name {
  padding-top: 10px;
  display: block;
}
.loader .line {
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  width: 0;
  height: 100%;
  background-color: #8076b1;
}
.project-process {
  width: 50%;
  height: 14px;
  border-radius: 8px;
  background-color: #f0f0f0;
}
.project-process .line {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 0;
  height: 100%;
  border-radius: 8px;
  background-color: #64ae43;
}
.chat-users {
  height: 790px;
  overflow-y: auto;
  font-size: 0.7em;
}
.chat-users-lessons {
  height: 790px;
  overflow-y: auto;
  font-size: 0.7em;
}
.chatik {
  background-color: #fff;
  margin-bottom: 10px;
  font-size: 0.85em;
  font-family: 'Open Sans';
  color: black;
  font-weight: normal;
}
.chatik .message-wrapp {
  height: 600px;
  overflow-y: auto;
}

.chatik .message-wrapp.rez {
  height: 100%;
}
.chatik .message-wrapp.chatModer {
  height: 600px;
}
.chatik .message-from,
.chatik .message-to {
  margin: 10px 0;
}
.chatik .message-from .message-text,
.chatik .message-to .message-text {
  padding: 10px;
  margin: 10px 0;
  position: relative;
}
.chatik .message-from .message-text-from,
.chatik .message-to .message-text-from {
  background-color: #fbf5ec;
  word-wrap: break-word;
}
.chatik .message-from .message-text-from::after,
.chatik .message-to .message-text-from::after {
  content: '';
  position: absolute;
  top: -20px;
  right: 19px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fbf5ec;
}
.chatik .message-from .message-text-to,
.chatik .message-to .message-text-to {
  background-color: #f3f2f0;
  word-wrap: break-word;
}
.chatik .message-from .message-text-to::after,
.chatik .message-to .message-text-to::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 19px;
  border: 10px solid transparent;
  border-bottom: 10px solid #f3f2f0;
}
.chatik .message-from .date,
.chatik .message-to .date {
  font-size: 1em;
  font-family: 'Open Sans';
  color: #adadad;
  font-weight: normal;
}
.chatik .message-from .name_from {
  text-align: right;
  display: block;
}
.chatik .message-to .date {
  text-align: right;
  display: block;
}
.npl {
  padding-left: 0 !important;
}
.npr {
  padding-right: 0 !important;
}
.textTo {
  width: 100%;
  resize: none;
  height: 130px;
  outline: none;
  padding: 10px;
}
.textTo.h300 {
  height: 300px;
}
.lesson-area {
  background-color: #fff;
}
.lesson-area .top-area {
  margin: 10px;
  border-bottom: 1px solid #dcdcdc;
}
.report-area {
  /*background-color: #fff;*/
  background-image: url(../img/bg-patch.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 15px 0;
  margin: 15px 0;
  position: relative;
}
.report-area .clock {
  position: absolute;
  right: 15px;
  bottom: 10px;
  width: 96px;
  height: 96px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  z-index: 50;
  background-image: url(../img/clock.png);
}
.right-side-item-g {
  text-align: right;
}
.number-of-lesson {
  padding: 15px 21px;
  background-color: #f0f0f0;
  border-radius: 50%;
}
.top-area {
  padding: 15px 0;
}
.title-of-lesson {
  margin-top: 10px;
}
.try .title-of-lesson {
  margin-top: 0px;
}
.try p {
  word-wrap: break-word;
}
.try .status {
  margin-top: 5px;
}
.your-score-block {
  margin-top: 11px;
}
.video-less {
  width: 100%;
  height: 500px;
  background-color: black;
}
.content {
  margin: 10px 0;
}
.icon-report {
  position: relative;
  border-radius: 50%;
  background-color: white;
  padding: 7px 5px 11px 9px;
  margin-right: 10px;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}
div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dropdown-menu a {
  cursor: pointer;
}
.btn-toolbar {
  margin-top: 50px;
}
.redactor_box {
  margin-top: 40px;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  border: 1px solid black;
  background-color: white;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 15px 0;
  text-shadow: none;
  font-size: 1em;
  font-family: 'Open Sans';
  color: black;
  font-weight: normal;
  border-radius: 0;
  padding: 15px 20px;
  outline: none;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: black;
  color: white;
}
.files {
  padding: 5px;
  margin-bottom: 15px;
}
.files .close {
  float: none;
  color: red;
}
.files .file-del {
  color: red;
  cursor: pointer;
  margin-left: 25px;
}
.files .file {
  padding: 15px 0;
  border-bottom: 1px solid #dcdcdc;
}
.files div {
  margin-top: 25px;
}
.btn.fly {
  position: fixed;
  left: 0;
  top: 400px;
  z-index: 1000;
  font-size: 0.8em;
}
.btn.fly-save {
  position: fixed;
  left: 0;
  top: 480px;
  z-index: 1000;
  font-size: 0.8em;
}
.user-message-item.active {
  background-color: #252525;
  color: white;
}
.user-lesson-message-item.active {
  background-color: #252525;
  color: white;
}
.no-read {
  color: white;
  background-color: red;
  padding: 5px 10px;
  border-radius: 50%;
  margin-left: 5px;
}
.no-read-btn {
  font-size:0.8em;
}
.user-lesson-message-item {
  position: relative;
}
.status.hw span {
  font-size: 0.8em;
}

.user-lesson-message-item .no-read {
  color: white;
  background-color: red;
  padding: 5px 10px;
  position: absolute;
  bottom:0;
  z-index: 500;
  right: 0;
  border-radius: 50%;
  margin-left: 5px;
}

.warning-about {
  background-color: #8076b1;
  color: #fff;
  width: 100%;
  padding: 15px;
  margin: 10px 0;
}

.warning-about a {
  color: white;
  font-size:1.4em;
  font-weight: bold;
  text-decoration: underline;
}
.warning-about a:hover {
  text-decoration: none;
}
.try {
  padding: 25px;
  margin: 10px 0;
  /*border: 1px solid #8076b1;*/
  background-image: url(../img/bg-patch.png);
}
.admin-lessons-user-item {
  display: inline-block;
  width: 15%;
  vertical-align: top;
}
.admin-user-cource-in-user-edit {
  border: 1px solid #8076b1;
  margin: 10px 0;
  padding: 15px;
}
.my-try {
  margin: 10px 0;
}
.bg-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(47,32,37, .36);
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modalBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  background-image: url(../img/modal.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 50%;
  min-height: 200px;
  z-index: 1050;
}
.modalBox.modalBox3 {
  background-image: none;
  background-color: white;
  width: 60%;
}
.modalBox.modalBox3 .titleBox {
  font-size: 1.5em;
  font-weight:bold;
}
.notif-block {
  text-align: center;
}

.titleBox {
  text-align: center;
  margin-top: 20px;
}
input[type=radio] {
  margin: 5px 6px 0px;
}

.nav-cource-panel {
  margin: 30px 0;
  text-align: center;
}

.nav-cource-panel ul {
  list-style-type: none;
  padding-left: 0;
}
.nav-cource-panel ul li a {
  font-size: 1.2em;
  color: black;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav-cource-panel ul li a:hover {
  color: #e8c399;
  text-decoration: none;
}
.nav-cource-panel ul li a.current {
  color: #e8c399;
}

.warning-try {
  background-color: #fbf5ec;
  padding: 25px;
  margin: 17px 0;
}
.warning-try h3 {
  font-weight: bolder;
  margin-top: 0;
}

.warning-try b {
  font-weight: bolder;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .modalBox {
    width: 100%;
    left: 0;
    top: 100px;
    transform: none;
  }

  .btn.samost {
    padding: 15px 0;
    width: 100%;
    font-size: 0.8em;
  }

}

.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.chat-title {
  text-align: center;
  padding: 19px;
  font-size: 0.9em;
  background-color: #fbf5ec;
  margin: 0;
  margin-top: 10px;
  width: 100%;
}
.not_found_h1 {
  font-size: 5em;
  display: inline-block;
  vertical-align: bottom;
}
.not_found_h2 {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 21px;
  font-size: 1.3em;
}
.lesson-area.webinar {
  margin-top: 11px;
  padding: 18px;
}

.chat-title.webinar {
  background-color: rgb(239,239,239);
  text-align: left;
  padding: 10px;
}

.chat-title.webinar .counts {
  font-weight: bold;
}

.chat-title.webinar .names .name {
  display: inline-block;
  padding: 6px 11px;
  border-radius: 30px;
  background-color: #e8c398;
  margin: 1px;
  font-size: 12px;
}

.chat-title.webinar .names .name.last {
  background-color: #fbfbf8;
}

.chat-title.webinar .names {
  margin-top: 5px;
}

.timer-body-block {
  text-align: center;
}
.timer-body-block .table-cell {
  display: inline-block;
  margin: 5px;
}

.table-cell.day {
  display: none;
}
.table-cell.hour {
  display: none;
}

.timer-body-block .table-cell > div {
  display: inline-block;
  margin: 3px;
  font-weight: bold;
}

.ytp-watermark {
  display: none !important;
}
.chat {
  height: 100%;
}

.webinar-wrapp {
  position: relative;
  height: 458px;
  overflow: hidden;
}

#video-webinar {
  position: absolute;
  width: 100%;
  pointer-events: none;
  height: 500px;
  left: 0;
  top: 0;
}

#imgZagl {
  object-fit: cover;
  width: 100%;
  height:500px;
}

@media only screen and (max-width : 992px) {
  .webinar-wrapp {
    height: 358px;
  }
  #video-webinar {
    height: 400px;
  }
}

@media only screen and (max-width : 500px) {
  .webinar-wrapp {
    height: 258px;
  }
  #video-webinar {
    height: 300px;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

.mobileNW {
  margin: 15px;
}